<?xml version="1.0" encoding="UTF-8"?>
<configuration	scan="true" scanPeriod="60 seconds" debug="false">
	<contextName>futuresclearing</contextName>
	<property name="log.path" value="@filter.logback.log.path@/futuresclearing" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			 <level>ERROR</level>
		 </filter>-->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>


	<root level="info">
		<appender-ref ref="console" />
	</root>

	<logger name="org.springframework.boot" level="info">
	</logger>
	<logger name="org.springframework.web" level="info">
	</logger>
	<logger name="org.springframework.security" level="debug">
	</logger>
</configuration>